@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #123E5A, #037373);
}

main{
    background-color: white;
    width: 600px;
    margin: auto;

}
h1{
    font-family: 'Times New Ronan', Times, serif;
    color: #04BFAD
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(3, 175, 158)
}
p{
    font-family: Arial, Helvetica, sans-serif;
}